{extend name="all_template" /}

{block name="title"}我的租约会议室{/block}

{block name="search_placeholder"}主题{/block}

{block name="add"}
    <a href="{:url('addLease')}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;我要租约</a>
{/block}

{block name="list"}
    <tr class="info">
        <th>序号</th>
        <th>会议室名称</th>
        <th>管理员</th>
        <th>会议时间</th>
        <th>会议主题</th>
        <th>用途</th>
        <th>额外服务</th>
        <th>人数</th>
        <th>操作</th>
    </tr>
    {volist name="leases" id="lease" key="key"}
    <tr>
		<td>{$lease->getData('lease_id')}</td>
		<td>{$lease->Room()->getData('name')}</td>
		<td>{$lease->Admin()->getName()}</td>
		<td>{$lease->getTimeShowed()}</td>
		<td title="{$lease->getData('message')}">{$lease->getData('theme')}</td>
		<td>{$lease->getData('usage')}</td>
		<td>{eq name="$lease->getData('sweep')" value="有"}清理 {/eq}
            {eq name="$lease->getData('entertain')" value="有"} 招待 {/eq}
            {eq name="$lease->getData('remote')" value="有"} 远程{/eq}</td>
        <td>0/{$lease->Room()->getData('max')}</td>
		<td>
			{eq name="$lease->canFinish()" value="1"}
				<a class="btn btn-sm btn-primary" href="{:url('finishLease?lease_id=' . $lease->getData('lease_id'))}"><i class="glyphicon glyphicon-pencil"></i> 提前结束</a>
			{/eq}
            <a class="btn btn-sm btn-primary" href="{:url('Check/participants?lease_id=' . $lease->getData('lease_id'))}"><i class="glyphicon glyphicon-pencil"></i> 人员</a>
			<a class="btn btn-sm btn-primary" href="{:url('editLease?lease_id=' . $lease->getData('lease_id'))}"><i class="glyphicon glyphicon-pencil"></i> 编辑</a>
        	<a class="btn btn-danger btn-sm" href="{:url('deleteLease?lease_id=' . $lease->getData('lease_id'))}"><i class="glyphicon glyphicon-trash"></i> 删除</a></td>
    </tr>
    {/volist}
{/block}