{extend name="edit_template" /}

{block name="title"}手动增加租约订单{/block}

{block name="post_url"}{:url('insert')}{/block}

{block name="content"}
    <div class="mdui-chip">
        <span class="mdui-chip-title">租借会议室</span>
    </div>
    <select class="mdui-select" mdui-select name="room_id">
        <option value="0" selected="selected">智能分配（推荐）</option>
        {volist name="$rooms" id="room"}
            <option value="{$room->getData('room_id')}">{$room->getData('name')}</option>
        {/volist}
    </select><br />

    <div class="mdui-chip">
        <span class="mdui-chip-title">设置负责人</span>
    </div>
    <select class="mdui-select" mdui-select name="admin_id">
        <option value="0" selected="selected">会议室默认管理员</option>
        {volist name="$admins" id="admin"}
            <option value="{$admin->getData('admin_id')}">{$admin->getName()}</option>
        {/volist}
    </select><br />

    <div class="mdui-chip">
        <span class="mdui-chip-title">租借的用户</span>
    </div>
    <select class="mdui-select" mdui-select name="user_id">
        {volist name="$users" id="user"}
            <option value="{$user->getData('user_id')}">{$user->getData('nickname')}</option>
        {/volist}
    </select><br />

    <div class="mdui-chip">
        <span class="mdui-chip-title"> 开 始 时 间 </span>
    </div>
    <input type="datetime-local" name="start_time" value="{$start_time}" /> <br />

    <div class="mdui-chip">
        <span class="mdui-chip-title"> 结 束 时 间 </span>
    </div>
    <input type="datetime-local" name="finish_time" value="{$finish_time}" /> <br />

    <div class="mdui-textfield">
        <label class="mdui-textfield-label">主题</label>
        <input class="mdui-textfield-input" type="text" name="theme" />
    </div>
    <div class="mdui-textfield">
        <label class="mdui-textfield-label">用途</label>
        <input class="mdui-textfield-input" type="text" name="usage" />
    </div>
    <div class="mdui-textfield">
        <label class="mdui-textfield-label">留言</label>
        <input class="mdui-textfield-input" type="text" name="message" />
    </div>

    <label class="mdui-checkbox">
        <input type="checkbox" name="sweep" checked/>
        <i class="mdui-checkbox-icon"></i> 场地清理服务
    </label><br />
    <label class="mdui-checkbox">
        <input type="checkbox" name="entertain" checked/>
        <i class="mdui-checkbox-icon"></i> 现场招待服务
    </label><br />
    <label class="mdui-checkbox">
        <input type="checkbox" name="remote" checked/>
        <i class="mdui-checkbox-icon"></i> 远程视频服务
    </label><br />

    <!-- 卡片的按钮 -->
    <div class="mdui-card-actions">
        <button class="mdui-btn mdui-ripple mdui-float-right" type="submit">添加</button>
    </div>
{/block}