{extend name="all_template" /}

{block name="title"}租约列表{/block}

{block name="search_placeholder"}主题/留言/ID{/block}

{block name="list"}
	<table class="table table-hover table-bordered">
	    <tr class="info">
	        <th>序号</th>
	        <th>会议室名称</th>
	        <th>管理员</th>
	        <th>租约用户</th>
	        <th>开始时间</th>
	        <th>结束时间</th>
	        <th>会议主题</th>
	        <th>用途</th>
	        <th>留言</th>
	        <th>清理</th>
	        <th>招待</th>
	        <th>远程</th>
	        <th>人数</th>
	        <th>操作</th>
	    </tr>
	    {volist name="leases" id="lease" key="key"}
	    <tr>
			<td>{$lease->getData('lease_id')}</td>
			<td>{$lease->Room()->getData('name')}</td>
			<td>{$lease->Admin()->getName()}</td>
			<td>{$lease->User()->getData('nickname')}</td>
			<td>{$lease->getStartTimeShowed()}</td>
			<td>{$lease->getFInishTimeShowed()}</td>
			<td>{$lease->getData('theme')}</td>
			<td>{$lease->getData('usage')}</td>
			<td>{$lease->getData('message')}</td>
			<td>{$lease->sweep}</td>
			<td>{$lease->entertain}</td>
			<td>{$lease->remote}</td>
			<td>0/{$lease->Room()->getData('max')}</td>
			<td><a class="btn btn-sm btn-primary" href="{:url('edit?lease_id=' . $lease->getData('lease_id'))}"><i class="glyphicon glyphicon-pencil"></i> 编辑</a>
	        	<a class="btn btn-danger btn-sm" href="{:url('delete?lease_id=' . $lease->getData('lease_id'))}"><i class="glyphicon glyphicon-trash"></i> 删除</a></td>
	    </tr>
	    {/volist}
	</table>
	{$leases->render()}
{/block}