{extend name="edit_template" /}

{block name="title"}用户注册{/block}

{block name="post_url"}{:url('userAdd')}{/block}

{block name="content"}
    <div class="mdui-card-content">
        <div class="mdui-textfield mdui-textfield-floating-label">
            <label class="mdui-textfield-label">用户名</label>
            <input class="mdui-textfield-input" type="text" name="username" id="username"/>
        </div>
        <div class="mdui-textfield mdui-textfield-floating-label">
            <label class="mdui-textfield-label">密码</label>
            <input class="mdui-textfield-input" type="text" name="password" id="password"/>
        </div>
        <div class="mdui-textfield mdui-textfield-floating-label">
            <label class="mdui-textfield-label">昵称</label>
            <input class="mdui-textfield-input" type="text" name="nickname" id="nickname"/>
        </div>
    </div>

    <!-- 卡片的按钮 -->
    <div class="mdui-card-actions">
        <button class="mdui-btn mdui-ripple mdui-float-right" type="submit">注册</button>
    </div>

{/block}