{extend name="edit_template" /}

{block name="title"}用户注册{/block}

{block name="content"}
    <form action="{:url('userAdd')}" method="post">
        <label for="username">账号：</label>
        <input type="text" name="username" id="username" />
        <br />
        <label for="password">密码：</label>
        <input type="text" name="password" />
        <br />
        <label for="password">昵称：</label>
        <input type="text" name="nickname" />
        <br />
        <button type="submit">注册</button>
    </form>
{/block}