{extend name="edit_template" /}

{block name="title"}手动添加与会人员{/block}

{block name="post_url"}{:url('inserts')}{/block}

{block name="content"}
	<input type="hidden" name="lease_id" value="{$lease->getData('lease_id')}">

	
    <div class="mdui-textfield">
        <div class="mdui-chip">
	        <span class="mdui-chip-title" onclick="copyIds()">当前与会人员ID - 点击复制</span>
	    </div>
        <input class="mdui-textfield-input" type="text" value="{$ids}" />
    </div>

	<div class="mdui-textfield mdui-textfield-floating-label">
        <label class="mdui-textfield-label">请输入新的人员ID（多人空格分隔）</label>
        <input class="mdui-textfield-input" type="text" name="user_ids" id="user_ids"/>
    </div>

    <div class="mdui-card-actions">
        <button class="mdui-btn mdui-ripple mdui-float-right" type="submit">添加</button>
    </div>
{/block}

{block name="js"}
<script type="text/javascript">
	function copyIds()
	{
		var a = "{$ids}";
		copyToClipboard(a);
	}

	function copyToClipboard (text) {
	    if(text.indexOf('-') !== -1) {
	        let arr = text.split('-');
	        text = arr[0] + arr[1];
	    }
	    var textArea = document.createElement("textarea");
		textArea.style.position = 'fixed';
		textArea.style.top = '0';
		textArea.style.left = '0';
		textArea.style.width = '2em';
		textArea.style.height = '2em';
		textArea.style.padding = '0';
		textArea.style.border = 'none';
		textArea.style.outline = 'none';
		textArea.style.boxShadow = 'none';
		textArea.style.background = 'transparent';
		textArea.value = text;
		document.body.appendChild(textArea);
		textArea.select();

		try {
		var successful = document.execCommand('copy');
		var msg = successful ? '成功复制到剪贴板' : '该浏览器不支持点击复制到剪贴板';
		alert(msg);
		} catch (err) {
		alert('该浏览器不支持点击复制到剪贴板');
		}

		document.body.removeChild(textArea);
	}
</script>
{/block}