{extend name="edit_template" /}

{block name="title"}新增管理员{/block}

{block name="post_url"}{:url('insert')}{/block}

{block name="content"}
    <div class="mdui-card-content">
        <div class="mdui-textfield mdui-textfield-floating-label">
            <label class="mdui-textfield-label">管理员账号</label>
            <input class="mdui-textfield-input" type="text" name="username" id="username"/>
        </div>
        <div class="mdui-textfield mdui-textfield-floating-label">
            <label class="mdui-textfield-label">密码</label>
            <input class="mdui-textfield-input" type="text" name="password" id="password"/>
        </div>
        <div class="mdui-textfield mdui-textfield-floating-label">
            <label class="mdui-textfield-label">昵称（可空）</label>
            <input class="mdui-textfield-input" type="text" name="nickname" id="nickname"/>
        </div>
    </div>

    <div class="mdui-chip">
        <span class="mdui-chip-title">管理员权限</span>
    </div>
    <select name="permission" class="mdui-select" mdui-select>
        <option value="0">只读</option>
        <option value="1" selected>允许修改</option>
        <option value="2">允许删除</option>
        <option value="9">完整权限</option>
    </select><br />

    <!-- 卡片的按钮 -->
    <div class="mdui-card-actions">
        <button class="mdui-btn mdui-ripple mdui-float-right" type="submit">添加管理员</button>
    </div>
{/block}