{extend name="edit_template" /}

{block name="title"}新增管理员{/block}

{block name="content"}
    <form action="{:url('insert')}" method="post">
        <label>账号:</label>
        <input type="text" name="username" /><br />
        <label>密码:</label>
        <input type="text" name="password" /><br />
        <label>昵称:</label>
        <input type="text" name="nickname" /><br />
        <label>权限:</label>
        <select name="permission">
            <option value="0">只读</option>
            <option value="1">允许修改</option>
            <option value="2">允许删除</option>
            <option value="9">完整权限</option>
        </select><br />
        <button type="submit">添加</button>
    </form>
{/block}