{extend name="edit_template" /}

{block name="title"}编辑管理员{/block}

{block name="content"}
    <form action="{:url('update')}" method="post">
        <input type="hidden" name="admin_id" value="{$Admin->getData('admin_id')}" />
        <label>账号:</label>
        <input type="text" name="username" value="{$Admin->getData('username')}" /><br />
        <label>密码:</label>
        <input type="text" name="password" value="{$Admin->getData('password')}" /><br />
        <label>昵称:</label>
        <input type="text" name="nickname" value="{$Admin->getData('nickname')}" /><br />
        <label>权限:</label>
        <select name="permission">
            <option value="0">只读</option>
            <option value="1" {eq name="$Admin->getData('permission')" value="1"}selected="selected"{/eq}>允许修改</option>
            <option value="2" {eq name="$Admin->getData('permission')" value="2"}selected="selected"{/eq}>允许删除</option>
            <option value="9" {eq name="$Admin->getData('permission')" value="9"}selected="selected"{/eq}>完整权限</option>
        </select><br />
        <button type="submit">保存</button>
    </form>
{/block}