{extend name="edit_template" /}

{block name="title"}添加会议室{/block}

{block name="content"}
    <form action="{:url('insert')}" method="post">
        <div class="mdui-card-media">
            <img src="__STATIC__/view/img/login_card.jpg"/>
            <div class="mdui-card-media-covered">
                <div class="mdui-card-primary">
                    <div class="mdui-card-primary-title">智能会议室管理系统</div>
                    <div class="mdui-card-primary-subtitle">by 《两男三女》团队</div>
                </div>
            </div>
        </div>

        <div style="padding: 10px;">

            <div class="mdui-chip">
                <span class="mdui-chip-title">管理员</span>
            </div>
            <select name="admin_id" class="mdui-select" mdui-select>
                {volist name="$Admins" id="admin"}
                    <option value="{$admin->getData('admin_id')}" >{$admin->getName()}</option>
                {/volist}
            </select><br />

            <div class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">会议室名称</label>
                <input class="mdui-textfield-input" type="text" name="name" />
            </div>

            <div class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">最大人数</label>
                <input class="mdui-textfield-input" type="text" name="max" value="30" />
            </div>

            <!-- 卡片的按钮 -->
            <div class="mdui-card-actions">
                <button class="mdui-btn mdui-ripple mdui-float-right" type="submit">添加会议室</button>
            </div>
        </div>
    </form>
{/block}