{extend name="edit_template" /}

{block name="title"}添加会议室{/block}

{block name="content"}
    <form action="{:url('insert')}" method="post">
        <label>管理员:</label>
        <select name="admin_id">
            {volist name="$Admins" id="admin"}
                <option value="{$admin->getData('admin_id')}" >{$admin->getName()}</option>
            {/volist}
        </select><br />
        <label>名称:</label>
        <input type="text" name="name" value="未命名会议室" /><br />
        <label>标准人数:</label>
        <input type="text" name="max" value="30" /><br />
        <button type="submit">保存</button>
    </form>
{/block}