{extend name="edit_template" /}

{block name="title"}编辑会议室{/block}

{block name="post_url"}{:url('update')}{/block}

{block name="content"}
    <input type="hidden" name="room_id" value="{$Room->getData('room_id')}" />
    <div class="mdui-chip">
        <span class="mdui-chip-title">管理员</span>
    </div>
    <select name="admin_id" class="mdui-select" mdui-select>
        {volist name="$Room->Admin->select()" id="admin"}
            <option value="{$admin->getData('admin_id')}" {eq name="$admin->getData('admin_id')" value="$admin->getData('admin_id')"}selected="selected"{/eq} >{$admin->getName()}</option>
        {/volist}
    </select><br />

    <div class="mdui-textfield mdui-textfield-floating-label">
        <label class="mdui-textfield-label">会议室名称</label>
        <input class="mdui-textfield-input" type="text" name="name" value="{$Room->getData('name')}" />
    </div>

    <div class="mdui-textfield mdui-textfield-floating-label">
        <label class="mdui-textfield-label">最大人数</label>
        <input class="mdui-textfield-input" type="text" name="max"  value="{$Room->getData('max')}" />
    </div>

    <label class="mdui-checkbox">
        <input type="checkbox" name="maintaining"
        {eq name="$Room->getData('maintaining')" value="1" }
            checked="checked"
        {/eq} />
        <i class="mdui-checkbox-icon"></i>
        维修中
    </label><br />

    <!-- 卡片的按钮 -->
    <div class="mdui-card-actions">
        <button class="mdui-btn mdui-ripple mdui-float-right" type="submit">保存</button>
    </div>
{/block}