{extend name="edit_template" /}

{block name="title"}新增数据{/block}

{block name="content"}
    <form action="{:url('insert')}" method="post">
    	<div class="mdui-card-media">
            <img src="__STATIC__/view/img/login_card.jpg"/>
            <div class="mdui-card-media-covered">
                <div class="mdui-card-primary">
                    <div class="mdui-card-primary-title">智能会议室管理系统</div>
                    <div class="mdui-card-primary-subtitle">by 《两男三女》团队</div>
                </div>
            </div>
        </div>
        <label>账号:</label>
        <input type="text" name="username" /><br />
        <label>密码:</label>
        <input type="text" name="password" /><br />
        <label>昵称:</label>                <input type="text" name="nickname" /><br />
        <button type="submit">添加</button>
    </form>
{/block}