<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>新增数据</title>
</head>

<body class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="{:url('insert')}" method="post">
                <label>账号:</label>
                <input type="text" name="username" /><br />
                <label>密码:</label>
                <input type="text" name="password" /><br />
                <label>昵称:</label>                <input type="text" name="nickname" /><br />
                <button type="submit">添加</button>
            </form>
        </div>
    </div>
</body>

</html>